#Python
__pycache__/
*.pyc

#Virtual Environment
venv/

#Jupyter
.ipynb_checkpoints/
notebooks/exploration.ipynb
notebooks/*_exploration.ipynb

#Data
data/raw/*
!data/raw/README.md
data/processed

models/*

#OS
.DS_Store